[Unit]
Description=GL840 TimescaleDB Logger
After=network.target

[Service]
#EnvironmentFile=/home/oper/share/pg-monitor/systemd/epics.env
Type=simple
ExecStart=/usr/bin/python /home/oper/share/pg-monitor/module/gl840.py 192.168.10.61
WorkingDirectory=/home/oper
Restart=always
RestartSec=3
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
