[Unit]
Description=PostgreSQL TimescaleDB Updater %i
After=network.target

[Service]
EnvironmentFile=/home/oper/share/pg-monitor/systemd/epics.env
ExecStart=/home/oper/share/pg-monitor/script/pg-updater %i
WorkingDirectory=/home/oper/share/pg-monitor
Restart=always
RestartSec=3
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
